.loginModal {
  background: transparent;
  box-shadow: none;
}
.bg-main {
  height: 50vh;
  width: 100%;
  background-color: #d9d9f7;
  opacity: 0.8;
  background-image: url('/Squares-Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center ;
}

