.loginModal {
  background: transparent;
  box-shadow: none;
}
.bg-main {
  height: 50vh;
  width: 100%;
  background-color: #d9d9f7;
  opacity: 0.8;
  background-image: url('/Squares-Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center ;
}


/* .bg-main::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, #3498db 10%, transparent 20%),
    radial-gradient(circle, transparent 10%, #3498db 20%);
  background-size: 30px 30px; /* Adjust the size of the pattern */
/* animation: moveBackground 8s linear infinite;
}

@keyframes moveBackground {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20%, 20%);
  }
} */
