.button-text {
  text-align: center;
}

@media screen and (min-width: 1) {
    .button-text {
        font-size: .6vw;
      }
}

@media screen and (min-width: 1204px) {
    .button-text {
        font-size: .8vw;
      }
}
