.workshop {
  height: 100vh;
  display: grid;
  grid-template:
    [header-left] "head head" 45px [header-right]
    [main-left] "nav  main" 1fr [main-right]
    / 200px 1fr;
  color: var(--workshop-secondary-color);
  background-color: var(--workshop-primary-color);
}
.workshop header {
  grid-area: head;
}

.workshop main {
  grid-area: main;
  background-color: var(--workshop-secondary-color);
  overflow: hidden;
  padding: 0 20px;
  /* color: var(--workshop-text-dark-color);
  background-image: url("/logo.png");
  background-repeat: no-repeat;
  background-position: left 10% top 10%;
  background-size: 50vw; */
}

.workshop nav {
  grid-area: nav;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.233);
}
