
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  border-radius: 20px;
}
.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;

  padding: 10px;
  background-color: #001b74;
  border-width: 5px;
  border-color: black;
  border-radius: 10px;
}

.main img {
  width: 200px;
  margin: 10px;
}
.login-box form {
  display: flex;
  flex-direction: column;
}
form input {
  width: 90%;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
form .buttons {
	display: flex;
	flex-direction: row;
	width: 100%;
}
form button {
  height: 40px;
  width: 47%;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
form button:hover {
  background: #6d44b8;
}
