@keyframes appear {
  0% {
    display: none;
    visibility: visible;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes hidde {
  0% {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  90% {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
