.previewModal {
  border-radius: 10px;
  width: 50%;
  max-width: 400px;
  padding: 0%;
  height: min-content;
}
.previewOverlay {
  backdrop-filter: 10px;
}
.preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: small;
}
.preview-container header {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  width: 100%;
  background-color: blue;
  height: 8lh;
  color: antiquewhite;
}

.preview-container .preview-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid white;
  background-color: blue;
  position: absolute;
  top: 5lh;
}

.preview-data {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.preview-data div {
  padding: 50px 0 0 50px;
}

.preview-data .row {
  display: inline-block;
  /* text-align-last: justify; */
}

.preview-container footer {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-direction: row;
  padding: 10px 0 30px 0;
}
